<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Exercisr" %></title>
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <%= stylesheet_link_tag   "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
<body>

  <nav class="top-bar">
    <%= render 'layouts/nav' %>
  </nav>

  <div id="signup_window" class="reveal-modal medium"></div>
  <div id="login_window" class="reveal-modal medium"></div>

  <% if !notice.blank? || !alert.blank? %>
    <div class="row">
      <div class="large-12 large-centered columns">
        <% if !notice.blank? %>
          <div class="alert-box success" id="notice"><%= notice %></div>
        <% end %>

        <% if !alert.blank? %>
          <div class="alert-box alert" id="alert"><%= alert %></div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= yield %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
  <%= javascript_include_tag "application" %>
</body>
</html>
